* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.arturo {
    background-color: rgb(224, 224, 224);
    width: 90%;
    max-width: 350px;
    padding: 15px;
}
